.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 8px; /* added padding so the child elements aren't touching the edges. */
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex; /* set the list display to be flex */
  gap: 10px; /* added a gap between elements */
  margin: 0; /* got rid of margin and padding so the elements were spaced correctly */
  padding: 0;
  
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}